img { 
    width:100%;
    height:auto;
    object-fit: contain;
} 

.textPosition {
    position: absolute;
    bottom: 24%;
    left: 60%;
    margin-right: 30px;
    color: white;
    font-size: 40px;
}

.body {
    background-color: rgb(234, 239, 243);
    padding: 10px;
    height: 200px;
}

p {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

h2 {
    color: rgb(0, 0, 0);
    font-weight: 900;
}
