img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-top-left-radius: 20vh;
}

.textPosition {
  position: absolute;
  bottom: 24%;
  left: 60%;
  margin-right: 30px;
  color: white;
  font-size: 40px;
}

.body {
  background-color: rgb(217, 221, 224);

  padding: 20px;
  height: 200px;
  width: 100%;
  border-bottom-right-radius: 20vh;
}

p {
  margin-top: 15px;
  margin-bottom: 100px;
  margin-right: 140px;
  margin-left: 70px;
}

h2 {
  color: rgb(0, 0, 0);
  font-weight: 900;
}
