/* Index */
.title h1 {
  font-size: 70px;
  padding: 10px;
}

.navBar {
  margin-top: 30px;
  margin-bottom: 100px;
}

.navBar h1 {
  font-size: 70px;
  margin-bottom: 100px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  color: black;
}

.subjectWrap {
  background: rgb(248, 200, 97);
  border: 2px solid rgb(189, 149, 75);
  margin: 25px 0px;
}

.subjectPanel {
  margin: 20px 30px 20px 30px;
  padding: 0px;
  font-weight: 600;
}

.mainPanel {
  background: rgb(248, 200, 97);
  border: 2px solid rgb(103, 22, 22);
  margin: 50px 0px 20px 0px;
  padding: 450px 0;
}

.subject1,
.subject2,
.subject3,
.subject4,
.subject5 {
  color: black;
  border-radius: 25px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 20px;
  margin: 10px 0px;
}

.subjectPanel a{
  color:black;
  font-size: 20px;

}

a{
  color:black;
}

a:hover{
  color:black;
}

.subject1 {
  background: rgb(243, 193, 193);
  border: 1px solid rgb(148, 81, 81);
}

.subject2 {
  background: rgb(220, 197, 236);
  border: 1px solid rgb(173, 104, 221);
}

.subject3 {
  background: rgb(211, 214, 238);
  border: 1px solid rgb(121, 126, 165);
}

.subject4 {
  background: rgb(119, 181, 156);
  border: 1px solid rgb(28, 86, 63);
}

.subject5 {
  background: rgb(236, 121, 121);
  border: 1px solid rgb(137, 55, 55);
}

.subject1:hover {
  background: rgb(241, 112, 112);
  border: 1px solid rgb(148, 81, 81);
}

.subject2:hover {
  background: rgb(190, 119, 241);
  border: 1px solid rgb(173, 104, 221);
}

.subject3:hover {
  background: rgb(118, 132, 236);
  border: 1px solid rgb(121, 126, 165);
}

.subject4:hover {
  background: rgb(25, 155, 103);
  border: 1px solid rgb(28, 86, 63);
}

.subject5:hover {
  background: rgb(204, 65, 65);
  border: 1px solid rgb(137, 55, 55);
}

.projectPanel {
  background: rgb(248, 200, 97);
  border: 2px solid rgb(103, 22, 22);
  margin: 50px 30px 20px 30px;
  padding: 10px;
}
