.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  gap: 1rem;
  overflow: auto;
}

.MiddleNav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.RightNav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.Logo {
  font-weight: bold;
  font-size: 20px;
}
